<form class="form-horizontal">
    <fieldset>
        <legend>Edit</legend>

        <div class="form-group">
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input class="form-control" id="title" placeholder="Title" type="text" ng-model="adData.title"/>
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Text</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="adData.text"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="category" class="col-lg-2 control-label">Category</label>
            <div class="col-lg-10">
                <select class="form-control" id="category" ng-model="adData.categoryId">
                    <option value="null">(None)</option>
                    <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="town" class="col-lg-2 control-label">Town</label>
            <div class="col-lg-10">
                <select class="form-control" id="town" ng-model="adData.townId">
                    <option value="null">(None)</option>
                    <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="image" class="col-lg-2 control-label">Tmage</label>
            <div class="col-lg-10">
                <input class="form-control" id="image" type="file" onchange="angular.element(this).scope().fileSelected(this)" />
                <div class="image-box">
                    <p>Image Preview</p>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-primary" ng-click="editCurrentAd(adData.id, adData)">Edit</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>