<form class="form-horizontal">
    <fieldset>
        <legend>Login</legend>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputUsername">Email</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Username" id="inputUsername" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputPassword">Password</label>
            <div class="col-lg-10">
                <input type="password" placeholder="Password" id="inputPassword" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>